.route-item-container {
  display: flex;
  height: 3rem;
  position: relative;
  align-items: center;
  justify-content: stretch;
}

.route-item-container .timeline {
  border-left: 2px solid #2196f3;
  margin-left: 1.93rem;
  width: 3rem;
  height: 100%;
}

.route-item-container .timeline.start {
  height: 50%;
  align-self: flex-end;
}

.route-item-container .timeline.start.end {
  height: 50%;
  align-self: flex-end;
  border-style: dotted;
}

.route-item-container .timeline.optional {
  border-left-style: none;
  position: relative;
  height: 3rem !important;
  top: -2rem;
  z-index: 1;
}

.route-item-container .timeline.end,
.route-item-container .timeline.optional {
  height: 50%;
  align-self: flex-start;
}

.route-item-container .timeline-circle {
  height: 1rem;
  width: 1rem;
  background: #2196f3;
  border-radius: 50%;
  position: absolute;
  left: 1.5rem;
  top: 1.0rem;
}

.route-item-container .timeline.optional .timeline-circle {
  /* border: 1px dashed #2196f3; */
  background: #fff;
  width: 1.5rem;
  height: 1.5rem;
  left: -0.68rem;
  top: 2.5rem;
  text-align: center;
  line-height: 1.5;
  color: #2196f3;
  font-size: 1.5rem;
  transition: all ease-in 0.05s;
  cursor: pointer;
}

.route-item-container .timeline.optional .timeline-circle:hover {
  font-size: 1.7rem;
}

.route-item-container .timeline.start .timeline-circle {
  width: 1.5rem;
  height: 1.5rem;
  left: 1.25rem;
  top: 1.0rem;
  border: 1px solid #2196f3;
  background: #fff;
}

.route-item-container .inputs-panel {
  display: flex;
  flex: 1;
}

.route-item-container .inputs-panel input {
  width: 7rem;
  /* font-size: 0.9rem; */
}
.route-item-container .inputs-panel .select-control {
  min-width: 10rem;
  width: 100%;
  max-width: 20rem;
  margin-left: 2rem;
}

.route-item-container .inputs-panel input#time {
  width: 12rem;
}

.route-item-container .buttons-panel {
  display: flex;
}