.route-container {
  margin: 0 1rem 0.5rem 1rem;
}

.route-container .name-wrapper {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.route-container .name-wrapper label {
  margin: 0 0.85rem 0 1rem;
  text-transform: uppercase;
}

.route-container .name-wrapper input {
  max-width: 15rem;
}

.route-container .items-container {
  padding: 0 0 0.5rem 0;
}