.prediction-page {
  margin: 0 1rem 0.5rem 1rem;
}

.prediction-page .name-wrapper {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.prediction-page .name-wrapper label {
  margin: 0 1rem;
  text-transform: uppercase;
}

.prediction-page .name-wrapper input {
  max-width: 15rem;
}