.prediction-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.prediction-page .route {
  margin-top: 1rem;
}

.prediction-page .sql-query textarea {
  margin: 1rem 0;
}

.prediction-page .name-wrapper {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.prediction-page .name-wrapper label {
  margin: 0 1rem;
  text-transform: uppercase;
}

.prediction-page .name-wrapper input {
  max-width: 15rem;
}

.prediction-page .paths .path {
  margin-bottom: 1rem;
}

.prediction-page .paths .path .btn {
  width: 7rem;
  margin-right: 1rem;
}

.prediction-page .buttons .btn {
  margin-right: 0.5rem;
  width: 7rem;
}

.prediction-page .output-files {
  margin-top: 1rem;
  flex: 1;
}

.prediction-page textarea {
  resize: vertical;
}

.prediction-page .output {
  margin-top: 0.8rem;
  font-size: 1.2rem;
}