:root {
  --primary-color: #2196f3;
  --primary-color-hover: #1179ce;
  --background-color: #F9FAFB;
  --success-color: #47f554cc;
}

:global body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
}

:global * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:global .btn {
  background: #fff;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  padding: .375rem .75rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: all ease-out 0.2s;
}

:global .btn.btn-success {
  background-color:  #47f554cc;
}

:global .btn.btn-primnary {
  background-color: var(--primary-color);
  color: #fff;
}

:global .btn.btn-primnary:hover,
:global .btn.btn-primnary:focus {
  background-color: var(--primary-color-hover);
}

:global .btn:hover:not(:disabled),
:global .btn:focus:not(:disabled) {
  cursor: pointer;
  background: #eee;
  outline: none;
}

:global .form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

:global .form-control:hover,
:global .form-control:focus {
  outline: none;
  border-color: var(--primary-color-hover);
}